@font-face {
    font-family: Manrope-Medium;
    src: url('./../fonts/manrope-medium.otf');
}

@font-face {
    font-family: Manrope-Bold;
    src: url('./../fonts/manrope-bold.otf');
}

@font-face {
    font-family: Manrope-Regular;
    src: url('./../fonts/manrope-regular.otf');
}

@font-face {
    font-family: Manrope-Semibold;
    src: url('./../fonts/manrope-semibold.otf');
}

body{
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.your-onbaording-process {
    padding: 30px;
    background: #ffffff;
    font-family: Manrope-Bold, sans-serif;
    color: rgb(17, 49, 52);
    border-radius: 8px;
}

.your-onbaording-process .onboarding-process-action h2 {
    font-family: Manrope-Medium, sans-serif;
    color: rgb(17, 49, 52);
    margin-bottom: 25px;
}

.your-onbaording-process .onboarding-process-action {
    max-width: 60%;
    text-align: center;
    margin: auto;
    padding: 10rem;
}

.your-onbaording-process .btn-processed,
.your-onbaording-process .btn-processed:focus {
    background-color: rgb(63, 192, 181) !important;
    border-radius: 50px;
    padding: 10px 35px !important;
    border-color: rgb(63, 192, 181) !important;
    box-shadow: unset !important;
    outline: unset;
    border: 1px solid;
    color: #fff;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #13443f;
    border-radius: 50%;
    display: none;
    position: fixed;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: 55%;
    left: 54%;
}

.loader.show {
    display: inline-block;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: rgb(63, 192, 181);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ds-none {
    display: none;
}


.sd-menu-hide {
    display: none;
}

#modulecontent #sdyourio-menu {
    display: flex;
    flex-direction: column;
    background: #F6F9F9;
}

#modulecontent #sdyourio-menu .list-group {
    display: flex;
    background: #F6F9F9;
    column-gap: 12px;
    border-bottom: 1px solid rgb(229, 238, 237);
    margin: 0 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#modulecontent #sdyourio-menu .list-group .list-group-item.active {
    background-color: #E5EEED;
    border-color: #E5EEED;
    color: rgb(100, 116, 139);
}

#modulecontent #sdyourio-menu .list-group .list-group-item {
    flex: 0 0 12%;
    text-align: center;
    font-weight: 600;
    border-radius: .375rem !important;
    padding: 10px 5px;
    border: 1px solid #E5EEED;
    background-color: transparent;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#modulecontent #sdyourio-menu .list-group .list-group-item:hover {
    background-color: #E5EEED;
    color: rgb(63, 192, 181);
}

#designConfiguration {
    padding-top: 40px;
    padding-left: 27px;
    padding-right: 27px;
}

#designConfiguration .panel,
#designConfiguration .panel .panel-heading,
#designConfiguration .panel .panel-footer {
    border: unset !important;
    background-color: transparent !important;
    box-shadow: unset !important;
}

#designConfiguration .panel .panel-heading {
    color: rgb(38, 90, 97) !important;
}

#designConfiguration .panel .control-label {
    color: rgb(38, 90, 97) !important;
}

#designConfiguration .panel-footer #configuration_form_submit_btn {
    background-image: linear-gradient(53deg, #339d94, #3fc0b5 50%, #339d94);
    text-shadow: 0 0 8px #339d94;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: Manrope, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #ffffff;
    padding: 13px 3rem;
    border-radius: 9999px;
    border: unset !important;
    background-size: 230% 106%;
    background-position: right;
    float: right;
}
select{
    display: block;
    width: 100% !important;
    padding: 8px 16px !important;
    font-size: 12px;
    line-height: 1.428571429 !important;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbcdd2;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.control-label{
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
    width: 33.3333333333% !important;
    padding-right: 25px !important;
}

.nobootstrap{
    background-color: unset;
}
.alert-danger{
    margin-bottom: 17px;
    background-color: #fbc6c3;
    color: #363a41;
    position: relative;
    padding: 16px 15px 16px 56px;
    font-size: 14px;
    border: solid 1px #f44336;
    border-radius: 8px;
}